
html {
    font-size: 28px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.parent {
    width: 1280px;
    padding: 10px;
}
body div:nth-child(odd) {
    width: 75%;
}

body div:nth-child(even) {
    width: 50%;
}

.block {
    margin-bottom: 10px;
}

.block:last-child {
    margin-bottom: 0;
}

.div1 {
    height: 150px;
    background-color: #55B3B9;
    color: #222;
}

.div2 {
    height: 150px;
    background-color: #C56060;
    color: #222;
}

.div3 {
    height: 150px;
    background-color: #8FC091;
    text-align: center;
    color: #222;
    text-transform: uppercase;
    font-size: 16px;
}

.div4 {
    height: 150px;
    background-color: #8F86AF;
    text-decoration: line-through;
    color: #222;
}

h1, h2, h3 {
    margin: 0;
    padding-left: 10px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

.div1 h1 {
    font-weight: 900;
    padding-top: 10px;
}

.div1 h2 {
    font-weight: 500;
    color: #222;
}

.div2 h2 {
    font-weight: 500;
    padding-top: 10px;
    opacity: 69%;

}

.div2 h3 {
    font-family: 'Sail', cursive;
    font-weight: 400;
    opacity: 69%;
}

.div3 h2 {
    font-weight: 500;
    font-size: 1.75em;
    padding-top: 10px;
    opacity: 62%;
}

.div3 h3 {
    font-family: 'Sail', cursive;
    font-weight: 400;
    font-size: 1em;
    text-decoration: underline;
    opacity: 62%;
}

.div4 h2 {
    font-weight: 800;
    padding-top: 10px;
    opacity: 42%;
}

.div4 h3 {
    font-family: 'Sail', cursive;
    font-weight: 400;
    opacity: 42%;
}

.block:hover {
    font-size: x-large;
}